{% extends "base.html" %}

{% block content %}

    {% for p in posts %}
        <div class="col-xs-12">
            {{ p.render() | safe }}
            <br>
            <h4 style="display: inline; color: red">{{ p.likes }} likes </h4>
            {% if user %}
                {% if p.user.key() != user.key() %}
                    |
                    {% if p.key() not in user.liked_posts %}
                        <a href="/like/{{ p.key().id() }}">like</a>
                    {% else %}
                        liked
                    {% endif %}
                {% endif %}
                |
                <a href="/comment/{{ p.key().id() }}">add comment</a>
                {% if p.user.key() == user.key() %}
                    |
                    <a href="/edit/{{ p.key().id() }}">edit</a>
                    |
                    <a href="/delete/{{ p.key().id() }}">delete</a>
                {% endif %}
            {% endif %}

            <br><br>
        </div>
    {% endfor %}

{% endblock %}
